@model NBDPrototype.ViewModels.BidVM

@{
    ViewData["Title"] = "Bids";
}

@*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@



<div class="container row p-0 m-0">
    <div class="col-10 px-sm-0 m-0">
        <h1 class="text-muted">Bid List</h1>
        <br />
    </div>
    @if (User.IsInRole("Manager") || User.IsInRole("Designer"))
    {
        <div class="col-2 px-sm-0 m-0">
            <a asp-action="Create" class="btn btn-primary form-control text-white" data-toggle="tooltip" data-placement="top" title="Create a new Bid">
                <i class="fas fa-plus"></i>
                Create New Bid
            </a>
        </div>
    }
        @*<h1>Bid Listings</h1>

            <p>
                <a asp-action="Create">Create New</a>
            </p>*@
        <table class="table" id="Exampledatatable">
            <thead>
                <tr>
                    <th width="80">
                        Projects
                    </th>
                    <th width="80px">
                        Date
                    </th>
                    <th width="80px">
                        Start Date
                    </th>
                    <th width="80px">
                        Close Date
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Approved
                    </th>
                    
                    <th></th>
                    <th width="200"></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Bids)
                {
                    string selectedRow = "";
                    if (item.ID == (int?)ViewData["BidID"])
                    {
                        selectedRow = "table-success";
                    }
                    <tr class="@selectedRow">
                        <td>
                            @Html.DisplayFor(modelItem => item.Projects.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClosingDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Statuses.BidStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsApproved)
                        </td>

                        <td></td>

                        <td>
                            @*<a asp-action="Index" asp-route-id="@item.ID">Preview</a> |*@
                            <a asp-action="Index" asp-route-id="@item.ID" class="btn btn-secondary btn-sm text-white"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="Preview project bids">
                                <i class="far fa-eye"></i>
                                Preview
                            </a>
                            <a asp-action="Index" asp-controller="BidItems" asp-route-BidId="@item.ID" class="btn btn-info btn-sm text-white " tooltip-test" title="View Bid Details"><i class="fas fa-info-circle">Details</i></a>
                            @if (User.IsInRole("Manager") || User.IsInRole("Designer"))
                            {<a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-success btn-sm text-white " data-toggle="tooltip" data-placement="top" title="Edit a bid"><i class="fas fa-edit"></i></a>}
                            </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

@if (Model.Items != null)
{
    <h2 class="text-muted">Staff and Materials for Selected Bid</h2>
    <table class="table">
        <tr>
            <th>Code</th>
            <th>Type</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>

        @foreach (var item in Model.Items)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["ID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                @*<td>
                        @Html.ActionLink("Items", "Index", new { nameID = item.ID })
                    </td>*@
                <td>
                    @item.Code
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemType.Type)
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @foreach (var itemname in item.BidItems)
                    {
                        @itemname.BidItemQuantity
                    }
                </td>
            </tr>
        }
    </table>
    <table class="table">
        <tr>
            <th>Employee</th>
            <th>Position</th>
            <th>Markup</th>
            <th>Est. Hours</th>
            <th>Contact</th>
        </tr>

        @foreach (var item in Model.Staffs)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["ID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                @*<td>
                        @Html.ActionLink("Items", "Index", new { nameID = item.ID })
                    </td>*@
                <td>
                    @item.StaffFullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Labour.Description)
                </td>
                <td>
                    @foreach (var itemname in item.BidStaffs)
                    {
                        @itemname.BidStaffMarkup
                    }
                </td>
                <td>
                    @foreach (var itemname in item.BidStaffs)
                    {
                        @itemname.BidStaffTotalHours <br />
                    }
                </td>
                <td>
                    @item.StaffPhone
                </td>
            </tr>
        }
    </table>
}




@section scripts{

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.24/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.24/datatables.min.js"></script>

    <script>

        $(document).ready(function () {

            $('#Exampledatatable').DataTable({
                "lengthMenu": [[3, 5, 10, 25, - 1], [3, 5, 10, 25, "All"]]
            });
        });

    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

}
